.Container {
    width: 85%;
    margin-top: 20px;
    padding: 1.2% 1% 0 1%;
    box-sizing: border-box;
    /* background-color: blue; */
    
  
}


@media (max-width: 640px) {
  .Container {
    width: 100%;
    /* height: auto; */
  }
}